html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: #0c0c1d;
     color: lightgray;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    scroll-snap-align: center;
    height: 100vh;
}

@mixin laptop {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin tablets {
    @media (max-width: 768px) {
    @content;
    }
}
@mixin mobile {
    @media (max-width: 475px) {
    @content;
    }
}

